/*check the universal selector parameters*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:#07131e;
}

/*css for header*/
header {
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #53EFE9;
}

.header h1 {
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    color: #53EFE9;
}

.header nav {
    padding-top: 15px;
    margin-right: 90px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #53EFE9;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

/*css for greeting section*/
.greeting-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 800px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
}

.greeting-section img {
    max-height: 250px;
    max-width: 200px;
    border-radius: 5%;
    filter:drop-shadow(10px 10px 10px #53EFE9);
}

.photo {
    float: right;
    margin-left: 25px;
    
}

.greeting-section h2 {
    font-size: 30px;
    color: white;
}

.ak {
    font-style: italic;
    color: #53EFE9;
    font-size: 45px;
}

/*css for box (about me & experience)*/

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    background-color: #07131e;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-color: #53EFE9;
    box-shadow: 10px 10px 5px #53EFE9;
    flex: 0 0 300px;
    margin: 20px;
    padding: 10px;
}

.box h2 {
    color: #53EFE9;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box p {
    text-align: left;
    color: white;
}

.box h3 {
    color:white;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(https://unsplash.com/photos/chart-histogram-WzALbxevHpQ);
    background-repeat: no-repeat;
}

.box img {
    width: 100%;
    margin-top: 10px;
}

.box a {
    color:white;
}

/*css for footer*/
footer {
    margin: 0 auto;
    bottom: 0;
    position: relative;
    width: 100%;
    padding-top: 25px; 
    padding-bottom: 25px;  
    background-color: #53EFE9;
}

.panel-footer ul li {
    float: left;
    list-style: none;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 17px;
    color:#07131e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;    
}

footer h3 {
    color:#07131e;
    margin-left: 50px;
    margin-bottom: 20px;
}

.panel-footer ul li a {
    color: #07131e;
}


