/*check the universal selector parameters*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*aqua #53EFE9 blue #07131e*/

body {
    background-color:#07131e;
}

header {
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #53EFE9;
}

.header h1 {
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    color: #53EFE9;
}

.header nav {
    padding-top: 15px;
    margin-right: 90px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #53EFE9;
    text-decoration: none;
}

.greeting-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
}

.greeting-section img {
    max-height: 250px;
    max-width: 200px;
    border-radius: 5%;
    filter:drop-shadow(10px 10px 10px #53EFE9);
}

.photo {
    float: right;
    margin-left: 25px;
}

.greeting-section h2 {
    font-size: 30px;
    color: white;
}

.ak {
    font-style: italic;
    color: #53EFE9;
    font-size: 45px;
}

