/*check the universal selector parameters*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*CSS variables*/
:root {
    --dark-blue: #07131e;
    --aqua:#53EFE9;
    --white: white;
    --cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --italic: italic;
}

body {
    background-color: var(--dark-blue);
}

/*css for header*/
header {
    padding: 30px;
    font-family: var(--cambria);
    color: var(--aqua);
    margin-top: 20px;
    margin-bottom: 10px;
}

.header h1 {
    display: inline-block;
    font-size: 30px;
    font-style: var(--italic);
    color: var(--aqua);
}

.header nav {
    padding-top: 15px;
    margin-right: 90px;
    float: right;
    font-family: var(--cambria);
    font-size: 17px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--aqua);
    text-decoration: none;
}

nav a:hover {
    color: var(--white);
}

/*css for greeting section*/
.greeting-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 800px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
}

.greeting-section img {
    max-height: 350px;
    max-width: 300px;
    border-radius: 5%;
    filter:drop-shadow(10px 10px 10px var(--aqua));
}

.photo {
    float: right;
    margin-left: 25px;
    
}

.greeting-section h2 {
    font-size: 30px;
    color: var(--white);
}

.ak {
    font-style: var(--italic);
    color: var(--aqua);
    font-size: 45px;
}

/*css for box (about me & experience)*/

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--dark-blue);
    margin-bottom: 30px;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-color: var(--aqua);
    box-shadow: 10px 10px 5px var(--aqua);
    flex: 0 0 300px;
    margin: 20px;
    padding: 10px;
}

.box h2 {
    color: var(--aqua);
    font-size: 17px;
    font-family: var(--cambria);
}

.box p {
    text-align: left;
    color: var(--white);
}

.box h3 {
    color: var(--white);
    font-size: 15px;
    font-family: var(--cambria);
    background-image: url(https://unsplash.com/photos/chart-histogram-WzALbxevHpQ);
    background-repeat: no-repeat;
}

.box img {
    width: 100%;
    margin-top: 10px;
}

.box a {
    color: var(--white);
}

/*css for footer*/
footer {
    margin: 0 auto;
    bottom: 0;
    position: relative;
    width: 100%;
    padding-top: 25px; 
    padding-bottom: 50px;  
    background-color: var(--aqua);
}

.panel-footer ul li {
    float: left;
    list-style: none;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 17px;
    color: var(--dark-blue);
    font-family: var(--cambria);
    list-style-type: none;    
}

footer h3 {
    color: var(--dark-blue);
    margin-left: 50px;
    margin-bottom: 20px;
}

.panel-footer ul li a {
    color: var(--dark-blue);
}


